*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #1e2425;
  font-family: Helvetica, Source Code Pro, sans-serif;
  line-height: 1.5;
}

.nav-area {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1373px;
  height: 75px;
  padding: 0.3rem;

  /* Rectangle */
  background: linear-gradient(
    259.5deg,
    rgba(44, 46, 77, 0.88) 49.1%,
    rgba(32, 37, 106, 0.94) 66.84%
  );
  box-shadow: -4px 3px 5px rgba(0, 0, 0, 0.3);
}

.nav-items {
  position: relative;
  text-align: end;
  color: #cfcfcf;
}
.nav-items ul li {
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  right: 5rem;
  margin: 0 3rem;
  /* padding-bottom: 2rem; */

  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}

.logo {
  margin: 0.5rem;
  text-decoration: none;
}

.nav-items ul li a {
  text-decoration: none;
  color: #cfcfcf;
}

.nav-items ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}

.logo .list {
  width: 40px;
  height: 40px;
  visibility: hidden;
}

/* ! Navigation Bar : Responsive */
@media (min-width: 640px) {
  .nav-area {
    display: flex;
    align-items: center;
  }

  .logo .list.show {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }
}
