body { 
    background-color: #1E2425;
    font-family: Helvetica, Source Code Pro, sans-serif;
    font-weight: 1.5;
    padding: 0;
    margin: 0;
}

.nav-area {
    position: absolute;
    width: 1366px;
    height: 90px;
    padding: 0;
    margin: 0;

    /* Rectangle */
    background: linear-gradient(259.5deg, rgba(44, 46, 77, 0.88) 49.1%, rgba(32, 37, 106, 0.94) 66.84%);
    box-shadow: -4px 3px 5px rgba(0, 0, 0, 0.3);
}

.nav-items{
    text-align: end;
    color: #CFCFCF;
    
}
.nav-items ul li{
    position: -ms-page;
    display: inline-block;
    width: 116px;
    height: 31px;
    left: 720px;
    top: 34px;
    padding-top: 0.9rem;
    padding-right: 3rem;
    margin-right: 5px;
    margin-left: 6px;

    font-family: Fira Code;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    font
    line-height: 30px;
}

.nav-items ul li a {
    text-decoration-line: none;
    color: #CFCFCF;
}